{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('settings') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('settings') }}
{% endblock %}

{% block body %}
<div
    id="settings-root"
    data-restaurant="{{ restaurant|json_encode|e('html_attr') }}"
></div>
{% endblock %}
