{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('auth-login') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('auth-login') }}
{% endblock %}

{% block body %}
<div
    id="login-root"
    data-error="{{ error|default('') }}"
    data-phone-number="{{ phone_number|default('') }}"
></div>
{% endblock %}
